<!-- Fixed INFO -->
<div class="row margin-bottom">
  <div class="col-sm-12">
    <%= render 'staff/partials/dynamic_forms/personal_info/fixed_info' %>
  </div>
</div>

<!-- NIC INFO -->
<div class="row">
  <div class="col-sm-12">
    <%= render 'staff/partials/dynamic_forms/personal_info/nic_info' %>
  </div>
</div>

<!-- LIVING INFO -->
<div class="row">
  <div class="col-sm-12">
    <%= render 'staff/partials/dynamic_forms/personal_info/living_info' %>
  </div>
</div>

<!-- OTHER INFO -->
<div class="row">
  <div class="col-sm-12">
    <%= render 'staff/partials/dynamic_forms/personal_info/other_info' %>
  </div>
</div>
